# Ignore temp files
*.log
All_Files_25_11_03.txt
app - Copy.js
app - Copy (2).js
app - Copy (3).js
app - PrevNext.js
Thumbs.dbapp - Copy.js_backup
app_25_11_09.js
index_25_11_09.html
app_25_11_10.js
*_backup

